<!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
<audio id="audioHome" loop="1" preload="auto" controls="controls" data-autoplay="<%- theme.homeautoplay || "false" %>">
    <source type="audio/mpeg" src="<%- theme.homemp3 %>">
</audio>
<div class="bar-mp3"></div>